body {
  width: 97vw;
  background-color: rgb(255, 255, 255);
}

#blind {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #fff;
  animation: fadeInAnime 500ms ease 500ms forwards;
}
@keyframes fadeInAnime{
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: 100vh;
  }
  100% {
    visibility: hidden;
    height:0;
  }
}

#main {
  display: flex;
  flex-direction: row;
  color: #393939;
  fill: #393939;
  font-family: "Zen Maru Gothic", serif;
}

#menu {
  width: 71vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgb(255, 0, 0);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

@keyframes menuShrinkAnime{
  0% {
    width: 71vw;
  }
  100% {
    width: 20vw;
  }
}
@keyframes menuEnlargeAnime{
  0% {
    width: 20vw;
  }
  100% {
    width: 71vw;
  }
}

#content {
  width: 50vw;
  margin-left: 21vw;
  background-color: #117f9277;
  overflow-y: auto;
}
@keyframes contentInAnime{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contentOutAnime{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


#copyright {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
}

#logo {
  height: 14rem;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
}

.title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
}

.menu-words {
  padding-bottom: 3px;
}

.open-in-new {
 padding-right: 3px;
}

.btn-background {
  width: 200px;
  height: 40px;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #117f9277;
  border-width: 1px;
  border-style: none;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0);
}

.btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: inherit;
  border-style: inherit;
  border-radius: inherit;
  border-color: inherit;
  transition-duration: 399ms;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.555);
  color: #117f9277;
  fill: #117f9277;
}


/*
Order of writing {
  width: 100vw;
  height: 90vh;
  margin: 28px;
  padding: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;

  background-color: #fff;
  color: #393939;
  fill: #393939;

  font-family: "Zen Maru Gothic", serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;

  border-width: 1px;
  border-style: none;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0);

  animation: fadeInAnime 500ms ease 500ms forwards;
  opacity: 1;
  transition-duration: 399ms;
  visibility: hidden;
}
*/
